.Slider > img {
  width: 100%;
  margin-top: -300px;
}
.btnp,
.btnn {
  position: absolute;
  font-size: 30px;
  background-color: transparent;
  top: 125px;
  color: white;
}
.btnp {
  left: 4%;
}
.btnn {
  left: 92%;
}
.Slider {
  max-height: 400px;
  overflow: hidden;
}
.cont-2 {
  max-width: 1200px;
  min-width: 1200px;
  height: 200px;
}
.gridContanier1 {
  width: 96.5%;
  padding: 24px;
}
.gc1Header > p {
  color: rgb(42, 46, 59);
  font-size: 30px;
  font-weight: 560;
}
.gc2 > p span {
  font-size: 14px;
  margin-right: 10px;
}
.gc2 img {
  height: 17px;
}

.gc2 > p span:nth-child(1) {
  background-color: rgb(145, 179, 71);
  color: white;
  display: inline-block;
  width: 44px;
  font-weight: 700;
  text-align: center;
}
.gc2 > p span:nth-child(2) {
  color: rgb(145, 179, 71);
  display: inline-block;
  font-weight: 700;
  border-radius: 4px;
}
.gc3 {
  border-radius: 4px;
}
.gc3 p {
  width: 20%;
  padding: 5px;
  border: 1px solid rgb(191, 196, 206);
}
.gc3 p span {
  padding-left: 10px;
}

.gc4 {
  background-color: rgb(33, 107, 222);
  display: flex;
  justify-content: space-around;
}
.gc4 p {
  color: white;
}
.gc4 {
  margin-bottom: 30px;
}
.gc4 > div:nth-child(1) {
  position: relative;
  top: 12px;
}
.gc5 {
  padding-top: 30px;
  border-top: 1px solid rgb(222, 225, 231);
}
.gc5 > p:nth-child(1) {
  font-weight: 700;
  font-size: 22px;
  color: rgb(42, 46, 59);
  line-height: 26px;
}
.gc51 {
  display: flex;
}
.gc51 img {
  height: 50px;
}
.gc51 > div {
  border: 1px solid rgb(222, 225, 231);
  border-radius: 4px;
  width: 136px;
  text-align: center;
  margin-right: 6px;
}
.gc52 {
  display: flex;
}
.gc52 > div:nth-child(2) {
  margin: 0 20px;
  margin-top: 15px;
}
.gc61 {
  border-bottom: 1px solid rgb(222, 225, 231);
}
.gc61 > div {
  display: flex;
  font-size: 14px;
  flex-wrap: wrap;
}
.gc61 > div > div {
  display: flex;
  width: 149px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.gc61 > div > div > div {
  margin: 0 5px;
  margin-top: 15px;
}
.gc62 > div {
  display: flex;
}
.gc62 > div > div:nth-child(1) {
  margin-top: 15px;
  margin-right: 10px;
}
.gc7 > div {
  display: flex;
}
.gc7 > div > div {
  margin-top: 20px;
  margin-right: 10px;
}
.gc8btn {
  border: 1px solid rgb(219, 57, 57);
  border-radius: 20px;
  color: rgb(219, 57, 57);
  font-size: 16px;
  height: 40px;
  width: 120px;
  background-color: white;
  font-weight: 700;
  margin-left: 45%;
  margin-bottom: 40px;
}
.gc9 > div:nth-child(1) > p {
  color: rgb(42, 46, 59);
  font-size: 22px;
  font-weight: 700;
}
.gc9 {
  border-top: 1px solid rgb(222, 225, 231);
  border-bottom: 1px solid rgb(222, 225, 231);
  padding-bottom: 40px;
}
.gc91 > div:nth-child(1) > div:nth-child(1) p {
  background-color: rgb(145, 179, 71);
  color: white;
  font-weight: 700;
  font-size: 14px;
  width: 58px;
  text-align: center;
}
.gc91 {
  display: flex;
  justify-content: space-around;
}
.gc91 img {
  height: 18px;
}
.gc91 > div:nth-child(1) > div:nth-child(2) span {
  display: block;
}
.gc91 > div:nth-child(1) > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
}
.gc92 > p:nth-child(1) {
  color: rgb(42, 46, 59);
  font-size: 300%;
  font-weight: 700;
  /* margin-right: 8px; */
  line-height: 34px;
  margin-top: 20px;
  width: 58px;
  /* height: 44px; */
}
.gc92 > p:nth-child(2) > span:nth-child(1) {
  font-weight: 700;
  color: rgb(42, 46, 59);
}
.gc92 {
  /* width: 364px; */
  padding: 0 40px;
  display: flex;
  justify-content: center;
  background-color: rgb(248, 249, 250);
}
.gc93 > p > span:nth-child(1) {
  min-width: 140px;
  display: inline-block;
}
.gc93 > p > span:nth-child(2) {
  display: inline-flex;
  width: 200px;
  height: 10px;
  background-color: rgb(222, 225, 231);
  border-radius: 5px;
  margin-right: 5px;
}

.gc93 > p > span:nth-child(2) > span {
  display: inline-block;
  border-radius: 5px;
  width: 90%;
  height: 10px;
  background-color: rgb(84, 91, 108);
}
.gc93 > p > span:nth-child(2) > span {
  width: 93%;
}
.gcc10 > div:nth-child(1) p {
  color: rgb(42, 46, 59);
  font-weight: 700;
  font-size: 20px;
}
.gcc10 > div {
  display: flex;
  justify-content: space-between;
}
.gcc11 > div:nth-child(1) > p:nth-child(1) {
  color: rgb(42, 46, 59);
  font-weight: 700;
}
.gcc11 > div:nth-child(1) > p:nth-child(2),
.gcc11 > div:nth-child(2) > p:nth-child(2),
.bluewords {
  font-weight: 700;
  color: rgb(33, 107, 222);
  cursor: pointer;
}
.gcc11 > div:nth-child(2) span {
  color: rgb(219, 57, 57);
  font-size: 30px;
  font-weight: 700;
  display: inline-block;
}
.gcc11 > div:nth-child(3) button,
.btnRes {
  background-color: rgb(219, 57, 57);
  color: white;
  border-radius: 24px;
  width: 179px;
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
  border: 1px solid transparent;
}
.gcc10,
.gcc12,
.gcc13,
.gcc14 {
  padding-bottom: 32px;
  border-bottom: 1px solid rgb(222, 225, 231);
}
.gcc12 > div:nth-child(1) > p:nth-child(1),
.bigBlackwords {
  color: rgb(42, 46, 59);
  font-weight: 700;
  font-size: 20px;
}
.gcc12 > div:nth-child(1) > p:nth-child(2) {
  color: rgb(42, 74, 180);
  font-weight: 700;
  font-size: 14px;
}
.gcc121 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gcc121 > div > p:nth-child(1) {
  color: rgb(146, 207, 14);
  font-weight: 700;
}
.gcc121 > div:nth-child(2) > p:nth-child(2) span,
.blackwords {
  color: rgb(42, 46, 59);
  font-weight: 700;
}
.gcc13 > div:nth-child(2) {
  display: flex;
}
.gcc13 > div:nth-child(2) > div {
  margin-right: 10px;
}
.gc141 > p:nth-child(1) > span:nth-child(1) {
  /* background-color: red; */
  display: inline-block;
  position: relative;
  top: 7px;
  margin-right: 7px;
}

/* another component css */
.posSet + span {
  position: relative;
  top: -9px;
  color: white;
}
.gd11 {
  display: flex;
  justify-content: space-around;
}
.gd11 > div:nth-child(1) span:nth-child(1) {
  background-color: rgb(219, 57, 57);
  overflow: hidden;
  display: inline-block;
  color: white;
  font-size: 13px;
}

.gd11 > div:nth-child(1) p {
  background-color: rgb(219, 57, 57);
  color: white;
  padding: 0px 8px;
  padding-top: 4px;
  border-radius: 4px;
}
/* .traingle>p{
    background-color: rgb(219,57,57);
    transform: rotate(45deg);
    height: 100px;
    width: 100px;
}
.traingle{
    overflow: hidden;
}
.traingle>p>p{
    transform: rotate(-45deg);
} */
.traingle p {
  background-color: rgb(219, 57, 57);
}
.traingle p > span {
  color: white;
}
.midDiv1 > p:nth-child(1) {
  color: rgb(42, 46, 59);
  font-size: 30px;
  font-weight: 560;
}
.midDiv > p:nth-child(1) > span:nth-child(1),
.midDiv > p:nth-child(1) > span:nth-child(3) {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.midDiv > p:nth-child(1) > span:nth-child(1) {
  text-decoration: line-through;
}

.midDiv > p:nth-child(1) > span:nth-child(2) {
  margin: 0 8px;
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  color: #db3939;
}
.midDiv {
  text-align: center;
}
.midDiv > p:nth-child(2) {
  font-size: 12px;
  color: #2a2e3b;
  font-weight: 700;
}
.btnRes {
  font-size: 16px;
  width: 100%;
}
.gd > div {
  padding: 2%;
  margin: auto;
  margin-bottom: 20px;
  background-color: rgb(248, 249, 250);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}
.gd {
  margin: 2%;
  position: relative;
  top: -20px;
}
.gd > div:nth-child(1) {
  border-radius: 10px;
}
.gd3 > div {
  display: flex;
  width: fit-content;
  margin: auto;
}
.gd3 > div:nth-child(1) > div:nth-child(1) {
  position: relative;
  top: 18px;
}
.gd3 > div:nth-child(1) > div:nth-child(2) > p {
  color: rgb(30, 146, 68);
  font-weight: 700;
  font-size: 18px;
}
.gd4 > div:nth-child(3) {
  display: flex;
  justify-content: space-around;
}
.gd4 > div:nth-child(4) {
  display: flex;
  justify-content: space-between;
}
