.MainDiv {
  width: 87%;
  margin: auto;
}
.MainDiv1div {
  width: 100%;
  border-radius: 5px;

  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/06/02/HotelIndexHero.png?impolicy=fcrop&amp;w=1176&amp;h=504&amp;q=medium&quot");
}

.MainDiv1div > h2 {
  color: white;
  padding-top: 150px;
  padding-left: 50px;
  margin-bottom: -45px;
  font-weight: 500;
  font-size: 27px;
}
.MainDiv1div > h1 {
  padding-left: 50px;
  color: white;
  font-size: 50px;
}
.MainDiv2div > img {
  width: 100%;
  margin-top: 20px;
}
.MainDiv3div {
  margin-top: 50px;
}
.MainDiv3div > h3 {
  color: black;
  padding-left: 10px;
}
.MainDiv3div > h5 {
  color: gray;
  font-weight: 400;
  margin-top: -10px;
  padding-left: 10px;
}

/* SearchedHotel-------------------------------------------------- */
.SMainDiv {
  margin-top: 65px;
  min-height: 950px;
}
.SMainDiv-Div2 {
  display: flex;
  width: 100%;
}
.SMainDiv-Div2 > div {
  height: 50px;

  border: 1px solid lightgray;
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
}
.SMainDiv-Div2 > div:nth-child(1) {
  width: 100px;
  text-align: center;
  border-radius: 5px;
}
.SMainDiv-Div2 > div:nth-child(2) {
  width: 120px;
  text-align: center;
  border-radius: 5px;
}
.SMainDiv-Div2 > div:nth-child(2) > span {
  color: #e54042;
  font-weight: 600;
}
.SMainDiv-Div2 > div:nth-child(3) {
  width: 200px;
  text-align: center;
  border-radius: 5px;
}
.SMainDiv-Div3 {
  height: 90px;
  width: 100%;
  display: flex;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-top: -2px;
}

.SMainDiv-Div3 > div {
  margin-left: 1%;
  margin-top: 1%;
}
#standard-select-sort {
  width: 100px;
}
.SMainDiv-Div4 {
  width: 100%;
}
.SMainDiv-Div4-Div1 {
  width: 50%;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #2a2e3b;
}

.SMainDiv-Div4-Div1 > div {
  margin-top: 10px;
  margin-left: 12px;
  width: 97%;
  height: 220px;

  background-color: #ffffff;
}
.SMainDiv-Div4-Div1-child {
  display: grid;
  grid-gap: 3%;
  grid-template-columns: 30% 65%;
  grid-template-rows: 100%;
}

.SMainDiv-Div4-Div1-child img {
  width: 100%;
  height: 220px;
}
.SMainDiv-Div4-Div1-child-right-Div1 {
  display: flex;
  width: 30%;
  height: 25px;
  background-color: blue;
  color: white;
  margin-top: 15px;
  font-size: 15px;
  border-radius: 5px;
}
.SMainDiv-Div4-Div1-child-right-Div1 > h5 {
  margin-top: 4px;
  margin-left: 2px;
}
.SMainDiv-Div4-Div1-child-right-Div2 {
  margin-top: -20px;
  display: flex;
}

.SMainDiv-Div4-Div1-child-right-Div2 > p {
  font-size: 110%;
  font-weight: 500;
  color: #2a2e3b;
}
.SMainDiv-Div4-Div1-child-right-Div2 span {
  font-size: 115%;
  font-weight: 500;
  color: #e54042;
}
.SMainDiv-Div4-Div1-child-right-Div3 {
  margin-top: -28px;
}
.SMainDiv-Div4-Div1-child-right-Div3 p {
  font-size: 90%;
  color: #545b6c;
  font-weight: 400;
}
.SMainDiv-Div4-Div1-child-right-Div4 > div {
  width: 35px;

  height: 22px;
  background-color: green;
  font-weight: 500;
  color: rgb(255, 255, 255, 0.6);
  border-radius: 3px;
  text-align: center;
  font-size: 13px;
}
.SMainDiv-Div4-Div1-child-right-Div4 > div > span {
  color: white;
  font-size: 15px;
}
.SMainDiv-Div4-Div1-child-right-Div4 {
  display: flex;
}
.SMainDiv-Div4-Div1-child-right-Div4 > p {
  margin-top: -0.5%;
  margin-left: 1%;
  font-weight: 500;
  font-size: 100%;
}
.SMainDiv-Div4-Div1-child-right-Div5 > div {
  color: #545b6c;
  display: flex;
  font-size: 80%;
}
.SMainDiv-Div4-Div1-child-right-Div5 > div > p {
  margin-top: -0.5%;
  font-weight: 500;
}
.SMainDiv-Div4-Div1-child-right-Div5 {
  display: flex;
}
.SMainDiv-Div4-Div1-child-right-Div5 > div:nth-child(2) {
  margin-left: 10px;
}
.SMainDiv-Div4-Div1-child-right-Div5 > div:nth-child(3) {
  margin-left: 10px;
}
.bottomDivP {
  font-size: 68%;
  margin-left: 20px;
  color: #545b6c;
}
.bottomDiv {
  width: 50%;
  text-align: left;
}
.Price {
  float: right;
  color: red;
  font-weight: 600;
  margin-top: -12%;
  font-size: 130%;
}
.Price > p {
  margin-top: -10%;
  font-size: 50%;
  color: #545b6c;
}
.Price > span {
  font-size: 70%;
  margin-top: -1%;
}
.paper1 {
  width: 26%;
  height: 5%;
  border: 1px solid gray;
}
.paper2 {
  width: 17%;
  border: 1px solid gray;
  margin-left: 1.5%;
}
.inp1 {
  width: 68%;
}
.inp2 {
  border: white;
  color: #545b6c;
  font-size: 15px;
  font-weight: 800;
}
.SMainDiv-Div1 {
  display: flex;
  margin-left: 9%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.searchbtn {
  background-color: #d43131;
  width: 10%;
  border: white;
  border-radius: 20px;
  color: white;
  font-size: 110%;
  font-weight: 550;
  margin-left: 1%;
}

.SMainDiv-Div4-Div2 {
  position: absolute;
  top: 300px;
  left: 52%;
}
