.App {
  text-align: center;
}
*{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
    line-height: 1.5rem;
    color: #545b6c;   
}
button{
  cursor: pointer;
}